header {
  display: grid;
  grid-template-columns: 125px auto 600px 1fr;
  margin: 3rem;
  border-bottom: black solid 1px;
  padding-bottom: 1rem;
}

img.logo {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

h1 {
  align-self: center;
}

nav {
  align-self: end;
  justify-self: center;
}

ul {
}

li {
  list-style: none;
  display: inline;
  margin-left: 1rem;
}

h3.main-nav-heading {
  display: inline;
}
